@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_vars.scss';
:root {
	@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap');
	font-family: 'Work Sans', sans-serif;
	font-weight: 600;
	background-color: antiquewhite;
	max-width: 1300px;
	margin: 0 auto;
}
