.rootWrapperSlider {
  background-color: #F8F8F8;
  height: 180px;
  position: absolute;
//  overflow: visible;
  width: 100%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ImageSlider {
  width: 124px;
  height: 123px;
  margin-left: 70px;
}